@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: blueviolet;
}
h2{
    color: chartreuse;
}
p{
    text-align: justify;
}